@import url('../../assets/styles/variables.less');
.topic-filter-panel {
  background-color: #fff;
  padding: 15px 20px;
  font-size: 12px;
  min-height: 52px;
  border: 1px solid @baseBorderColor;
  border-radius: @borderRadiusSmall;
  &__item {
    display: flex;
    align-items: baseline;
    margin: 0 0 10px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__tags {
    flex: 1;
    margin: 0;
    overflow: hidden;
    transition: .3s height ease-out;
    & > span {
      cursor: pointer;
      display: inline-flex;
      padding: 3px 8px;
      border-radius: @baseBorderRadius;
      margin-right: 10px;
      &.is-active {
        background-color: @blue;
        color: #fff;
      }
    }
  }
  &__more {
    width: 60px;
    text-align: right;
    cursor: pointer;
    margin-left: 10px;
  }
}