[v-cloak]{
  display: none;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html:-webkit-full-screen{
  background-color: @bodyBackground
}
body{
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @textColor;
  background: @bodyBackground;
  word-break: break-word;
}

// 常用全局样式
// -------------------------
.l-mt{
  margin-top: 20px;
}
.l-mb{
  margin-bottom: 20px;
}
.l-mr{
  margin-right: 20px;
}
.l-ml{
  margin-left: 20px;
}
.l-pt{
  padding-top: 20px;
}
.l-pb{
  padding-bottom: 20px;
}
.l-pl{
  padding-left: 20px;
}
.l-pr{
  padding-right: 20px;
}

// 常用对齐样式
// -------------------------
.l-tar{
  text-align: right
}
.l-tal{
  text-align: left
}
.l-tac{
  text-align: center
}
