/** 重写ELEMENT-UI的样式 **/

// 分页导航
.m-pagination {
  &.is-background {
    .btn-next, .btn-prev, .el-pager li {
      background-color: #fff;
    }
  }
}

// dialog样式
.m-dialog{
  .el-dialog{
    overflow: hidden;
    border-radius: 5px;
  }
  .el-dialog__header {
    background: #f5f7f9;
    border-bottom: 1px solid @baseBorderColor;
    text-align: center;
    .el-dialog__title {
      font-size: 14px;
    }
  }
}